/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background:  #FFFFFF;
		/*linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
        
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 90%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background:  #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

/*formulaire style*/

.form-section {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
	
}

.form-section fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-section legend {
    color: #007bff;
    font-size: 1rem;
    font-weight: bold;
}

.form-section label {
    display: block;
    margin: 15px 0 5px;
    color: #666;
}

.form-section input,
.form-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-section input[type="file"] {
    padding: 5px;
}
.form-section option {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.form-section button {
    background-color:  #27AE60;
    color:#FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section button:hover {
    background-color: #1ea71e;
}

.form-section center {
    margin-top: 20px;
}

.form-section p {
    margin-top: 20px;
    text-align: center;
}

/*aN*/
.form-section button {
    position: relative;
    overflow: hidden;
  }
  
  .form-section button span {
    position: absolute;
    display: block;
  }
  
  .form-section button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  /* Ajoutez les autres styles de span et animations ici */
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%, 100% {
      left: 100%;
    }
  }
  /* Ajoutez ces styles pour les différentes étapes d'animation */
.form-section button span:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #03e9f4);
animation: btn-anim2 1s linear infinite;
animation-delay: 0.25s;
}
#preferences-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 8px;
}

#preferences-link {
	cursor: pointer;
	color: blue;
	text-decoration: none;
}
/* Ajoutez ces styles pour réduire la hauteur des spans */
.form-section span {
margin-bottom: 5px; /* Ajustez la valeur selon vos besoins */
padding-bottom: 5px; /* Ajustez la valeur selon vos besoins */
height: auto; /* Ajustez la valeur selon vos besoins */
}
form-section .button {
margin-bottom: 10px; /* Ajustez la valeur selon vos besoins */
}

.form-section .action-button {
margin-bottom: 5px; /* Ajustez la valeur selon vos besoins */
}
.form-section button span:nth-child(3) {
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #03e9f4);
animation: btn-anim3 1s linear infinite;
animation-delay: 0.5s;
}

.form-section button span:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #03e9f4);
animation: btn-anim4 1s linear infinite;
animation-delay: 0.75s;
}

/* Ajoutez les autres styles de span et animations ici */

@keyframes btn-anim2 {
0% {
  top: -100%;
}
50%, 100% {
  top: 100%;
}
}

@keyframes btn-anim3 {
0% {
  right: -100%;
}
50%, 100% {
  right: 100%;
}
}

@keyframes btn-anim4 {
0% {
  bottom: -100%;
}
50%, 100% {
  bottom: 100%;
}
}
.a2{
	text-decoration: none;
	font-size: 14px;
}
.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	margin: auto;
	position: relative;
	background-color: black;
	z-index: 7;
  
	li {
	  float: left;
	  width: calc(85% / 6); /* Distribute the width equally for 6 items */
	  height: 100%;
	  margin: 0;
	  padding: 0;
	}
  
	a {
	  display: flex;
	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	  color: #fff;
	  text-decoration: none;
	  position: relative;
	  font-size: 12px;
	  z-index: 9;
	  margin: 0; /* Remove default margin */
	  padding: 4px; /* Add padding for spacing */
	}
  }
  
  a.active {
	background-color: #e74c3c;
	pointer-events: none;
  }
  
  li.slider {
	width: calc(85% / 6); /* Adjust the width of the slider based on the number of items */
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #e74c3c;
	z-index: 8;
	transition: left .4s, background-color .4s;
  }
  
  .menu li:nth-child(2):hover,
  .menu li:nth-child(2):focus,
  .menu li:nth-child(2):active {
	& ~ .slider {
	  left: calc(85% / 6);
	  background-color: #3498db;
	}
  }
  
  .menu li:nth-child(3):hover,
  .menu li:nth-child(3):focus,
  .menu li:nth-child(3):active {
	& ~ .slider {
	  left: calc(85% / 6 * 2);
	  background-color: #9b59b6;
	}
  }
  
  .menu li:nth-child(4):hover,
  .menu li:nth-child(4):focus,
  .menu li:nth-child(4):active {
	& ~ .slider {
	  left: calc(85% / 6 * 3);
	  background-color: #e67e22;
	}
  }
  
  .menu li:nth-child(5):hover,
  .menu li:nth-child(5):focus,
  .menu li:nth-child(5):active {
	& ~ .slider {
	  left: calc(85% / 6 * 4);
	  background-color: #16a085;
	}
  }
  
  .menu li:nth-child(6):hover,
  .menu li:nth-child(6):focus,
  .menu li:nth-child(6):active {
	& ~ .slider {
	  left: calc(85% / 6 * 5);
	  background-color: #c0392b;
	}
  }
  .red-text1 {
color: red;
font-size: 35px;
}

.yellow-text1 {
color: yellow;
font-size: 35px;
}

.green-text1 {
color: green;
font-size: 35px;
}
.custom-image-size {
width: 100%; /* Vous pouvez ajuster la largeur selon vos besoins */
height: auto; /* Pour maintenir les proportions originales de l'image */
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

footer {
font-family: Open Sans;
}

.sec {
width: 100%;
display: inline-block;
background: #333;
height: 50vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}

.footer-distributed{
background: #666;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 40%;
}

/* The company logo */

.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Open Sans', cursive;
margin: 0;
}

.footer-distributed h3 span{
color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
padding: 0;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
font-weight:400;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #222;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}

.footer-distributed .footer-center i{
background-color:  #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
font-weight:400;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  lightseagreen;
text-decoration: none;;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight:300;
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
width: 20%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span{
display: block;
color:  #ffffff;
font-size: 14px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

.footer-distributed{
font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: block;
width: 100%;
margin-bottom: 40px;
text-align: center;
}

.footer-distributed .footer-center i{
margin-left: 0;
}

}